<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <!-- Links úteis -->
            <div class="col-md-4">
                <h5 class="text-uppercase mb-4">Navegação</h5>
                <ul class="list-unstyled">
                    <li><a href="/perfil" class="text-white text-decoration-none">Perfil</a></li>
                    <li><a href="/contato" class="text-white text-decoration-none">Contato</a></li>
                </ul>
            </div>
            <!-- Informações de contato -->
            <div class="col-md-4 text-center">
                <h5 class="text-uppercase mb-4">Entre em contato</h5>
                <p>
                    <i class="fas fa-envelope me-2"></i>
                    <a href="mailto:contato@exemplo.com" class="text-white text-decoration-none">contato@exemplo.com</a>
                </p>
                <p>
                    <i class="fas fa-phone me-2"></i>
                    +55 11 98765-4321
                </p>
            </div>
            <!-- Redes sociais -->
            <div class="col-md-4 text-center">
                <h5 class="text-uppercase mb-4">Siga-nos</h5>
                <a href="#" class="text-white me-3">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
                <a href="#" class="text-white me-3">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="#" class="text-white me-3">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
            </div>
        </div>
        <hr class="bg-secondary">
        <div class="text-center">
            <p class="mb-0">&copy; 2024 Seu Projeto. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
